body {
    margin: 0;
    padding: 0;
}
.contact-form {
    width: 60%;
    padding: 30px 40px;
    background: #f1f1f1;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}
.txtb {
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
}
.txtb label{
    display: block;
    margin-bottom: 10px;
    text-align: left;
}
input, textarea {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 18px;
    margin-top: 5px;
}
button {
    padding: 15px;
    font-size: 20px;
    background: red;
    color: white;
    width: 100%;
}
button:hover {
    cursor: pointer;
}